# Environment variables
.env

# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Pytest cache
.pytest_cache/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml
.DS_Store